*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.container{
    margin: auto;
}

header{
    background-color: blue;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{

}
section{
    padding: 20px;
    background-image: url(../Images/people.jpg);
    background-size: cover;
    overflow: hidden;
}
.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20PX;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px;
}
input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: blue;
    font-weight: bold;
}
#inscrevase:hover{
    background-color: lightblue;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../Images/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;

}
footer{
    background-color: rgb(58, 58, 58);
    padding: 40px;
    text-align: center;
    
}
.picture{
    width: 160px;
}
.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}
.description p, .description h3{
    margin-bottom: 20px;
}